#root {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.date-time {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}
